{% comment %} recipes/templates/recipes/pagination.html {% endcomment %}

<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ page.previous_page_number }}">&laquo; Previous</a>
        {% endif %}
        <span class="current">
            [ Page {{ page.number }} of {{ page.paginator.num_pages }} ]
        </span>
        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">Next &raquo;</a>
            <a href="?page={{ page.paginator.num_pages }}">Last &raquo;</a>
        {% endif %}
    </span>
</div>  