<!-- recipes/templates/recipes/recipe_delete.html  -->

{% extends 'base.html' %}

{% block title %} Recipe: {{ object.title }} {% endblock title %}

{% block content %}
<h2>Delete</h2>
<form method="post">
  {% csrf_token %}
  <p>Are you sure you want to delete <em>"{{ recipe.title }}"</em>?</p>
  <button class="btn btn-danger" type="submit">Confirm</button>
  <button class="btn btn-secondary" type="submit">
    <a style="text-decoration:none;" class="text-white" href="{% url 'recipes:recipe_detail' recipe.pk %}">Cancel</a>
  </button>
</form>
{% endblock content %}