<!-- recipes/templates/recipes/recipe_edit.html  -->

{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} Recipe: {{ object.title }} {% endblock title %}

{% block content %}
  <h2>Edit</h2>
  <form method="post">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        {{ form|crispy }}
        <button class="btn btn-info" type="submit">Update</button>
        <button class="btn btn-secondary" type="submit">
        <a style="text-decoration:none;" class="text-white" href="{% url 'recipes:recipe_detail' recipe.pk %}">Cancel</a>
        </button>
  </form>
{% endblock content %}
