<!-- recipes/templates/recipes/recipe_detail.html  -->

{% extends 'base.html' %}

{% block title %} Recipe: {{ object.title }} {% endblock title %}

{% block content %}
    <div class="article-entry">
        <h2>{{ object.title }}</h2>
        <p class="text-muted">by {{ object.author }} | {{ object.date }}</p>
        <p>
            {% comment %} if related name is not defined in 'RecipeImage' model{% endcomment %}
            {% comment %} {% for image in object.recipeimage_set.all %}  {% endcomment %}
            {% for image in object.recipeimages.all %}
                <img src="{{ image.thumbnail.url }}" alt="cover"/>
            {% endfor %}
        </p>
        <p class="text-justify">{{ object.subtitle }}</p>
        <p class="text-justify"> Ingredients for this recipe: {{ object.ingredients }}.</p>
        <p class="text-justify">{{ object.procedure }}</p>
        <p class="text-justify">{{ object.end }}</p>
    </div>
    <div class="text-muted">
        {% if request.user == object.author %}
            <a class="btn btn-secondary" href="{% url 'recipes:recipe_edit' object.pk %}">Edit</a> 
            <a class="btn btn-secondary" href="{% url 'recipes:recipe_delete' object.pk %}">Delete</a>
        {% endif %} 
        <a class ="btn btn-secondary" href="{% url "recipes:recipe_share" object.pk %}">Share</a>       
    </div><br \>
    
    {% comment %} showing list of comments {% endcomment %}
    {% if recipe.comments.all %}
        <div class="card-footer text-muted">
            {% for comment in recipe.comments.all %}
                <p class="">
                    Comment by
                    <span class="font-weight-bold">
                        {{ comment.author }} &middot;
                    </span>
                    {{ comment.message }}
                </p>
                {% if not forloop.last %}<hr />{% endif %}
            {% endfor %} 
        </div>
    {% endif %}
{% endblock content %}