<!-- recipes/templates/recipes/article_list.html   -->


{% extends 'base.html' %}

{% block title %} Recipes {% endblock title %}

{% block content %}
  {% for recipe in object_list %}
    <div class="card">
      <div class="card-header">
        <span class="font-weight-bold">
          {{ recipe.title }}
        </span> &middot;
        <span class="text-muted">
          by {{ recipe.author }} | {{ recipe.date }}
        </span>
      </div>
      <div class="card-body text-justify">
        <p>{{ recipe.subtitle }}</p><hr />
        {% if request.user == recipe.author %}
          <a href="{% url 'recipes:recipe_edit' recipe.pk %}">Edit</a> |
          <a href="{% url 'recipes:recipe_delete' recipe.pk %}">Delete</a> |
        {% endif %}
        <a href="{% url 'recipes:recipe_detail' recipe.pk %}">View Details</a> 
      </div>
      <div class="card-footer text-muted">
        <span>
            Total number of comments posted on this recipe:
            <span class="font-weight-bold">{{ recipe.comments.all.count }}</span>
        </span>
      </div>
    </div>
    <br />
  {% endfor %}
  {% include "recipes/pagination.html" with page=page_obj %}
{% endblock content %}
