<!-- recipes/templates/recipes/recipe_new.html  -->

{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} New Recipe {% endblock title %}

{% block content %}
  <h2>New Recipe</h2>
  <form method="post">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    {{ form|crispy }}
    <button class="btn btn-success" type="submit">Save</button>
  </form>
{% endblock content %}
