<!-- recipes/templates/recipes/recipe_share.html -->

{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Share a recipe{% endblock %}
{% block content %}
    {% if sent %}
        <h2>E-mail successfully sent</h2>
        <p>
            "{{ recipe.title }}" was successfully sent to "{{ form.cleaned_data.email_to }}".
        </p>
    {% else %}
        <h2>Share "{{ recipe.title }}" by e-mail</h2>
        <form action="." method="post">
            {{ form|crispy }}
            {% csrf_token %}
            <button class="btn btn-success" type="submit">Send e-mail</button>
        </form>
    {% endif %}
{% endblock %}