<!-- users/templates/registration/login.html -->

{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} Log In {% endblock title %}

{% block content %}
  <h2>Log In</h2>
  <form method="post">
        {% csrf_token %}
        <!-- {{ form.as_p}} -->
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">Log In</button>
        <span class="ml-3">
            <a class = "text-muted" href="{% url 'password_reset' %}">
                Forgot Password?
            </a>
        </span>
  </form>
{% endblock content %}