<!-- users/templates/registration/password_reset_done.html  -->

{% extends 'base.html' %}

{% block title %} Email Sent{% endblock title %}

{% block content %}
  <h2>Check Your Inbox</h2>
  <p>
    We've emailed you instructions for setting a new password.
    You should receive the email shortly!
  </p>
{% endblock content %}
