<!-- users/templates/registration/password_reset_form.html  -->

{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} Forget Your Password?{% endblock title %}

{% block content %}
  <h2>Forget Your Password?</h2>
  <p>
    Enter your email address below, and we'll email instructions for setting
    a new one.
  </p>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success mb-4" type="submit">Send Me Instructions!</button>
  </form>
{% endblock content %}
