<!-- pages/templates/pages/about.html  -->

{% extends "base.html" %}

{% block title %}About{% endblock title %}

{% block content %}
    <h2>About ReadyKitcheN</h2><hr />
    <p>ReadyKitcheN is a kind of online kitchen where you will find all sorts of recipe for cokking</p>
    <p>However, this is closed kichen, that means, you have to be a member to access it</p>
    <p>
        But you are free to open register here abolutely for free. 
        Wow!!! That's amazing Just go to the sign up page. 
        <br>It only takes a minute to be a member on this online kitchen.
    </p>
{% endblock content %}
