<!-- templates/home.html  -->

{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">ReadyKitchen App</h1>
        <p class="lead text-justify">
            Welcome to <em>ReadyKitchen</em> APP.
            You will find all kinds of recipe here for free.
            This is a members only app. If you are not a member then please register for free.
            A registered user can view all recipes, post recipe, and write comments on the recipes.
            Only the author of the recipe can edit or delete it, and others only can read and comment on it.
        </p>
        <p class="lead">
            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" role="button" href="{% url 'recipes:recipe_list' %}">
                View All Recipes
                </a>
            {% else %}
                <a class="btn btn-secondary btn-md" role="button" href="{% url 'login' %}">
                Log in to access
                </a>
                <a class="btn btn-primary btn-md" role="button" href="{% url 'users:signup' %}">
                New? Register here
                </a>
            {% endif %}
        </p>
    </div>
{% endblock content %}
